.fieldset {
  font-size: 0.75rem;
}

.fieldset legend {
  margin-bottom: 20px;
}

.radio_group {
  display: flex;
}

.option {
  position: relative;
}

.radio_group input {
  appearance: none;
  position: absolute;
  outline: none;
}

.default_label {
  width: 89px;
  font-weight: 300;
  height: 48px;
  cursor: pointer;
  box-shadow: 0 0 0 1px var(--border-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-primary);
}

.radio_group input:focus-visible + label {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 1px var(--border-tertiary);
}

.radio_group input:checked + label {
  position: relative;
  z-index: 1;
  outline: 1px solid var(--border-primary);
  outline-offset: 0;
}

.selected {
  margin-top: 12px;
  min-height: 17px;
}

@media (min-width: 1280px) {
  .fieldset {
    font-size: 0.875rem;
  }
}
