.btn {
  height: 48px;
  background: var(--background-secondary);
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:disabled {
  background: var(--background-disabled);
  color: var(--text-disabled);
}

@media (min-width: 768px) {
  .btn {
    width: 260px;
  }
}
