.product_options {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.info h1 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.info p {
  font-size: 0.875rem;
}

.radios {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (min-width: 768px) {
  .product_options {
    width: 362px;
    padding-left: 40px;
  }
}

@media (min-width: 1280px) {
  .info h1 {
    font-size: 1.5rem;
  }

  .info p {
    font-size: 1.25rem;
  }
}
