.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background: var(--background-primary);
  z-index: 2;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header img {
  vertical-align: sub;
  margin-right: 4px;
}

.cart {
  padding: 4px 0;
}

.cart span {
  vertical-align: middle;
}
